@model ConvocaApp.Models.EventsModel

@{
    ViewData["Title"] = "Delete Events";
}

<h1>Estas seguro que quieres borrar tu Evento?</h1>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Categoria
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.category)
        </dd>
        <dt class = "col-sm-2">
            Sexo
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sex)
        </dd>
        <dt class = "col-sm-2">
            Reservación
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.reserve)
        </dd>
        <dt class = "col-sm-2">
            Fecha del evento
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.date)
        </dd>
        <dt class = "col-sm-2">
            Hora
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.time)
        </dd>
        <dt class = "col-sm-2">
            Costo
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cost)
        </dd>
        <dt class = "col-sm-2">
            Forma de pago
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.paymment)
        </dd>
        <dt class = "col-sm-2">
            Lugar del Evento
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.place_id)
        </dd>
        <dt class = "col-sm-2">
            Deporte
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sport_id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Borrar Evento" class="btn btn-danger" /> |
        <a asp-action="Index">Regresa a la lista</a>
    </form>
</div>
