@model ConvocaApp.Models.EventsViewModel

@{
    ViewData["Title"] = "Events Details";
    Layout = "_StartApp";
}


<section class="header_login">
    <h1>Detalles de tu evento</h1>
</section>

<div class="event_details">
    <hr />
    <img class="smallEvent_image" src="@Url.Content(Model.picture_url)" />
    <dl class="row">
        <dt class="col-sm-2">
            Categoria
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.category)
        </dd>
        <dt class="col-sm-2">
            Sexo
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.sex)
        </dd>
        <dt class="col-sm-2">
            Reservación
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.reserve)
        </dd>
        <dt class="col-sm-2">
            Fecha
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.date)
        </dd>
        <dt class="col-sm-2">
            Hora
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.time)
        </dd>
        <dt class="col-sm-2">
            Costo
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.cost)
        </dd>
        <dt class="col-sm-2">
            Forma de pago
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.paymment)
        </dd>
        <dt class="col-sm-2">
            Lugar del Evento
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.place_name)
        </dd>
        <dt class="col-sm-2">
            Deporte
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.sport_name)
        </dd>
    </dl>
</div>

<div class="details_menu_main">
    <div class="details_menu"><a asp-action="Edit" asp-route-id="@Model.Id">Editar</a></div>
    <div class="details_menu"><a asp-action="Index">Regresa a la Lista</a></div>
    <div class="details_menu"><a href="https://localhost:44304/Convoca/Index"> Home </a></div>
</div>


