@model ConvocaApp.Models.EventsViewModel

@{
    ViewData["Title"] = "Events Details";
    Layout = "_StartApp";
}


<section class="header_login">
    <h1>Detalles de tu evento</h1>
</section>

<section class="form-register">
    <img class="smallEvent_image" src="@Url.Content(Model.picture_url)" />
    <hr />
    <label class="controls">Deporte: @Html.DisplayFor(model => model.sport_name)</label>
    <label class="controls">Lugar: @Html.DisplayFor(model => model.place_name)</label>
    <label class="controls">Fecha:  @Html.DisplayFor(model => model.date)</label>
    <label class="controls">Hora: @Html.DisplayFor(model => model.time)</label>
    <label class="controls">Categoria: @Html.DisplayFor(model => model.category)</label>
    <label class="controls">Generó: @Html.DisplayFor(model => model.sex)</label>
    <label class="controls">Reservación: @Html.DisplayFor(model => model.reserve)</label>
    <label class="controls">Costo: @Html.DisplayFor(model => model.cost)</label>
    <label class="controls">Forma de Pago: @Html.DisplayFor(model => model.paymment)</label>

    <div class="details_menu_main">
        <a class="botons" asp-action="Edit" asp-route-id="@Model.Id">Editar</a>
        <a class="botons" asp-action="Index">Regresa a la Lista</a>
        <a class="botons" href="https://localhost:44304/Convoca/Index"> Home </a>
    </div>
</section>
