@model IEnumerable<ConvocaApp.Models.EventsViewModel>


@{
    //ViewData["Title"] = "Index";
    Layout = "_StartApp";
}

<section class="header_login">
    <h1>Lista de Eventos</h1>
</section>

<body>
    <section class="events_list">
        <ul >
            @foreach (var item in Model)
            {
            <li class="test">
                <div class="event_item">


                    <img class="smallEvent_image" src="@Url.Content(@item.picture_url)" />

                    <div class="event_details_list">
                        <h2>Deporte: @Html.DisplayFor(modelItem => item.sport_name)</h2>
                        <br />
                        <h3>Lugar del Evento: @Html.DisplayFor(modelItem => item.place_name)</h3>
                        <br />
                        <h3>Fecha del evento: @Html.DisplayFor(modelItem => item.date)</h3>
                        <br />
                        <h3>Hora: @Html.DisplayFor(modelItem => item.time)</h3>
                        <br />
                        <h3>Costo: @Html.DisplayFor(modelItem => item.cost)</h3>
                        <br />                        
                        <h4>@Html.ActionLink("Detalles", "Details", new { item.Id/* id=item.PrimaryKey */ })</h4>
                    </div>


                    @*@Html.ActionLink("Deseo jugar", "Edit", new { item.Id /* id=item.PrimaryKey */ }) |*@
                    @*@Html.ActionLink("Borrar Usuario", "Delete", new { item.Id/* id=item.PrimaryKey */ })*@
                </div>
            </li>
            }
        </ul>
    </section>
</body>

 
                @*td>*@
                    @* @Html.ActionLink("Deseo jugar", "Edit", new { item.Id /* id=item.PrimaryKey */ }) |*@
                    @*@@Html.ActionLink("Detalles", "Details", new { item.Id/* id=item.PrimaryKey */ })*@
                    @*@@Html.ActionLink("Borrar Usuario", "Delete", new { item.Id/* id=item.PrimaryKey */ })
                    @*</td>*@ 
                    

                          


      

