@model IEnumerable<ConvocaApp.Models.EventsViewModel>


@{
    //ViewData["Title"] = "Index";
    Layout = "_StartApp";
}
@*<link rel="stylesheet" href="~/css/site.css" />*@

<section class="header_login">
    <h1>Lista de Eventos</h1>
</section>
@*<div class="table_content">*@
@*<table class="table">*@
<table>
    <thead>
        <tr>
            <th>
                Categoria
            </th>
            <th>
                Sexo
            </th>
            <th>
                Reservación
            </th>
            <th>
                Fecha del evento
            </th>
            <th>
                Hora
            </th>
            <th>
                Costo
            </th>
            <th>
                Forma de pago
            </th>
            <th>
                Lugar del Evento
            </th>
            <th>
                Deporte
            </th>
            <th>
                Detalles
            </th>
            <th>
                Juegas?
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sex)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.reserve)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.paymment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.place_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sport_name)
                </td>
                <td>
                    @*@Html.ActionLink("Deseo jugar", "Edit", new { item.Id /* id=item.PrimaryKey */ }) |*@
                    @Html.ActionLink("Detalles", "Details", new { item.Id/* id=item.PrimaryKey */ })
                    @*@Html.ActionLink("Borrar Usuario", "Delete", new { item.Id/* id=item.PrimaryKey */ })*@
                </td>
                <td>
                    Quiero jugar
                </td>
            </tr>
        }
    </tbody>
</table>
@*</div>*@

<div class="events_menu">
    <a href="https://localhost:44304/Convoca/Index"> Home </a>
</div>
<br />

@*<br />
<a href="https://localhost:44304/"> Click aquí para volver a Home </a>
<br />*@
