@model ConvocaApp.Models.CuentaModel

@{
    //ViewData["Title"] = "Details";
    Layout = "_StartApp";
}

<section class="header_login">
    <h1>Detalles de Usuario</h1>
</section>
<section class="form-register">
    <hr />
    <label class="controls">Nombre: @Html.DisplayFor(model => model.name)</label>
    <label class="controls">Edad: @Html.DisplayFor(model => model.age)</label>
    <label class="controls">Teléfono: @Html.DisplayFor(model => model.cellphone)</label>
    <label class="controls">Email: @Html.DisplayFor(model => model.email)</label>
    <label class="controls">Sexo: @Html.DisplayFor(model => model.sex)</label>
    <label class="controls">Dirección: @Html.DisplayFor(model => model.address)</label>
    <label class="controls">Ciudad: @Html.DisplayFor(model => model.city)</label>
    
    <div class="details_menu_main">
        @Html.ActionLink("Editar", "Edit", "Users", new { Model.Id /* id=item.PrimaryKey */ }, new { @class = "botons"})
        <a class="botons" href="https://localhost:44304/Convoca/Index"> Home </a>
    </div>
</section>



