@model IEnumerable<ConvocaApp.Models.PlacesModel>

@{
    ViewData["Title"] = "Index";
    //Layout = "~/Views/Places/";
}

<section class="header_login">
    <h1>Lista de Lugares</h1>
</section>
<table class="places_table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Dirección
            </th>
            <th>
                Email
            </th>
            <th>
                Teléfono
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cellphone)
            </td>
            @*<td>
            @Html.ActionLink("Editar", "Edit", new { item.Id /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Detalles", "Details", new { item.Id/* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Borrar Lugar", "Delete", new { item.Id/* id=item.PrimaryKey */ })
        </td>*@
        </tr>
        }
    </tbody>
</table>

<section class="sport-list">
    <div class="details_menu_main_sports">
        <a class="botons" href="https://localhost:44304/Convoca/Index"> Home </a>
    </div>
</section>