@model IEnumerable<ConvocaApp.Models.UsersModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Usuarios</h1>
<p>
    <a asp-action="Create">Crear nuevo Usuario</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Edad
            </th>
            <th>
                Email
            </th>
            <th>
                Sexo
            </th>
            <th>
                Dirección
            </th>
            @*<th>
                Password
            </th>*@
            <th>
                Telefono
            </th>
            <th>
                Ciudad
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sex)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.address)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.password)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.cellphone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.city)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { item.Id /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Detalles", "Details", new { item.Id/* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Borrar Usuario", "Delete", new { item.Id/* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<a href="https://localhost:44304/"> Click aquí para volver a Home </a>
<br />
